*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}


:root {
    --panel-background: rgb(223, 223, 223);
    --button-color: rgb(202, 202, 202);
    --button-shadow-color: rgb(135, 135, 135);
    --schadow: rgba(0, 0, 0, 0.638);


    --active-button-color: rgb(0, 242, 250);
    --active-button-shadow-color: rgb(0, 168, 174);
    --active-shadow: rgb(0, 247, 255);
    --radar-neon: lime;
    --power-active: rgb(0, 255, 0);
    --power-active-schadow: rgb(0, 174, 0);
    --power-schadow: rgb(0, 255, 0);


    --font-family: 'Racing Sans One', cursive;
    --font-color: rgba(255, 255, 255, 0.445);


    --pixal-size: .5em;
    --shooting: rgba(255, 0, 0, 0.585);

}

p {
    font-family: var(--font-family);
}

body {
    width: 100vw;
    height: 100dvh;
    height: 100vh;

    overflow: hidden;

      background-image:
        repeating-linear-gradient(45deg, transparent 0% 10%, var(--font-color) 20% 30%, transparent 40% 50%),
        /* linear-gradient(to bottom,rgba(5, 0, 59, 0.355) 20%, rgba(12, 1, 135, 0.322)), */
        /* url(https://img.myloview.pl/fototapety/depth-of-sea-water-the-bottom-of-the-sea-the-rays-of-the-sun-through-the-water-the-underwater-world-dark-sea-the-background-rocks-and-stones-under-water-sea-sand-3d-illustration-700-249212034.jpg); */
        url(https://images7.alphacoders.com/104/1049004.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;

    position: relative;
}

body::before{
    content: "";
    display: none;
    width: 20%;
    height: 100%;

    position: absolute;
    top: 0;

    background-image: 
    conic-gradient(
    at 20% 85% ,
        rgba(250, 250, 181, 0.628),
        transparent 5% 95%,
        rgba(250, 250, 181, 0.628)
        );
}

body::after{
    content: "";
    display: none;
    width: 20%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    background-image: 
    conic-gradient(
    at 80% 85% ,
        rgba(250, 250, 181, 0.628),
        transparent 5% 95%,
        rgba(250, 250, 181, 0.628)
        );
}



body>div {
    width: 100%;
    height: 100vh;

    /* background-color: red; */
    position: relative;
}

/* body>div span{
    display: block;
    width: 40rem;
    height: 10em;

    background-color: red;
    position: absolute;
    bottom: 30%;
    left: 10em;

    clip-path: path('M.82,147.94c-3.74-42.56,5.88-60.1,16.77-67.74,18.7-13.12,41.35,2.72,58.71-12.26,17.45-15.06,3.31-38.64,20.65-55.48,17.3-16.81,55.12-16.41,72.26,0,4.37,4.18,3.12,5.32,26.45,47.1,4.37,7.83,7.29,12.91,13.55,16.77,10.58,6.54,25.68,6.52,36.13,0,9.07-5.66,7.53-11.78,16.13-22.58,17.27-21.7,45.65-24.88,45.81-24.52,.11,.25-12.72,3.23-17.42,13.55-1.93,4.25-2.51,9.79-1.29,10.32,1,.44,3.29-2.43,4.33-3.72,2.87-3.59,3.26-6.02,4.06-5.96,1.47,.12,.25,8.21,3.23,15.48,3.33,8.13,11.18,13.51,17.42,15.48,10.72,3.39,20.73-2.01,29.03-5.81,12.91-5.9,40.91-18.68,63.23-15.48,27.23,3.9,49.03,32.03,58.71,44.52,11.67,15.06,13.67,23.79,24.52,27.1,15.62,4.76,25.29-9.13,43.23-8.39,10.55,.44,25.84,6.02,43.87,31.61H.82Z');

    transform: scale(1.5);
} */

body>div span{
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-image: radial-gradient(circle at 60% 70% ,white 1% ,transparent 25%);
    box-shadow: inset 0 0 2em white,
     0 0 .5em white;

    position: absolute;
    offset-rotate: 250deg;
}

body>div span:first-of-type,
body>div span:nth-of-type(4),
body>div span:nth-of-type(5),
body>div span:nth-of-type(8){
    top: 40%;

    offset-path: path('M527.85,39.7c-7.58-15.37-20.45-35.25-40-38.71-39.46-6.99-57.53,62.61-116.77,73.55-45.12,8.33-55.82-28.02-123.72-28.06-43.84-.03-54.27,15.12-94.99,19.68-35.23,3.94-86.12-.83-152.11-41.61');

    animation: path1 5s -1s infinite both linear;
}

body>div span:nth-of-type(4){
    top: 55%;

    left: 10% ;
    animation: path1 6s 1.5s infinite both linear;
}

@keyframes path1{
    0%{
        offset-distance: 0%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 100%;
        width: 8em;
        opacity: 0;
    }
}

body>div span:nth-of-type(7),
body>div span:nth-of-type(2){
    width: 5em;
    aspect-ratio: 1/1;

    top: 20%;
    left: 4em;

    offset-path: path('M618.69,231.62c-39.53-95.72-73.16-102.9-99.84-93.42-31.66,11.25-72.56-12.59-94.07-34.56-18.38-18.78-19.46-27.76-35.68-32.58-14.79-4.39-37.44-2.48-49.61,13.93-7.41,9.98-11.86,26.59-4.75,37.1,12.79,18.89,58.99,12.24,66.69-5.48,8.38-19.3-24.63-61.56-53.79-60.71-37.51,1.1-39.7,72.67-83.8,82.99-38.57,9.03-65.08-39.13-145.63-87.44C71.31,23.32,28.39,8.51,.14,.48');

    animation: path2 6s -3.5s infinite both linear;
}


@keyframes path2{
    0%{
        offset-distance: 0%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 100%;
        width: 5em;
        opacity: 0;
    }
}

body>div span:nth-of-type(6),
body>div span:nth-of-type(3){
    width: 5em;
    aspect-ratio: 1/1;

    top: auto;
    left: 4em;
    bottom: 30%;

    offset-path: path('M618.69,.19c-39.53,95.72-73.16,102.9-99.84,93.42-31.66-11.25-72.56,12.59-94.07,34.56-18.38,18.78-19.46,27.76-35.68,32.58-14.79,4.39-37.44,2.48-49.61-13.93-7.41-9.98-11.86-26.59-4.75-37.1,12.79-18.89,58.99-12.24,66.69,5.48,8.38,19.3-24.63,61.56-53.79,60.71-37.51-1.1-39.7-72.67-83.8-82.99-38.57-9.03-65.08,39.13-145.63,87.44C71.31,208.49,28.39,223.31,.14,231.33');

    animation: path2 4.5s -2.5s infinite both linear;
}

body>div span:nth-of-type(8),
body>div span:nth-of-type(5){
    left: 70%;

    animation: path3 6s 1s infinite both linear;
}

body>div span:nth-of-type(8){
    animation-delay: 2s;
    animation-duration: 5s;
}

@keyframes path3{
    0%{
        offset-distance: 100%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 0%;
        width: 8em;
        opacity: 0;
    }
}

body>div span:nth-of-type(6){
    top: 10%;
    left: 70%;

    animation: path3 6s -1s infinite both linear;
}

body>div span:nth-of-type(7){
    bottom: 45%;
    top: auto;
    left: 65%;

    animation: path4 6s -3s infinite both linear;
}

@keyframes path4{
    0%{
        offset-distance: 100%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 0%;
        width: 5em;
        opacity: 0;
    }
}













/* top stuk */

header {
    width: 100%;
    height: 60%;
    display: block;
    background-color: transparent;

    position: absolute;
    top: 0;
    /* z-index: 100; */
}

header::before {
    content: " ";
    display: block;
    height: calc(100% + 30em);
    width: 60%;

    position: absolute;
    top: 9%;
    left: 20%;
    z-index: 5;

    background-image: linear-gradient(to right, var(--panel-background) 2%, transparent 2% 98%, var(--panel-background) 98%);

}

/* lamp */
/* header > span{
    display: block;
    width: 4em;
    aspect-ratio: 1;
    border-radius: 50%;

    background-image: radial-gradient( circle at 40% 70% , rgba(255, 255, 255, 0.589) 7% , rgba(255, 0, 0, 0.585) 40% );
    box-shadow: inset 0 0 .5em .5em rgba(255, 0, 0, 0.585);

    position: absolute;
    left: 25%;
    top: 10%;
    z-index: 200;

    transition: .5s;

    transform: translateY(0);
} */

/* header > span::before{
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background-color: red;

    position: absolute;
    bottom: 96%;
    left: calc(50% - 1em/2);
    z-index: 190;
    
    transition: .5s;
} */

header>span {
    display: block;
    width: 1em;
    height: 2em;
    background-color: red;

    position: absolute;
    left: 25%;
    top: 7%;
    z-index: 190;

    /* transition: .5s; */
}

body:has(input[id=powerknop]:checked) header>span {
    animation: nodegevaal .6s 1 linear forwards;
    animation-delay: 7s;
    transform-origin: top;
}

@keyframes nodegevaal {
    0% {
        /* transform: scaleY(0); */
        height: 2em;
    }

    100% {
        /* transform: scaleY(4); */
        height: 4em;
    }
}

header>span::before {
    content: "";
    display: block;
    width: 4em;
    aspect-ratio: 1;
    border-radius: 50%;

    background-image: radial-gradient(circle at 40% 70%, rgba(255, 255, 255, 0.589) 7%, var(--shooting) 40%);
    box-shadow: inset 0 0 .5em .5em var(--shooting);

    position: absolute;
    bottom: -3.9em;
    left: calc(50% - 4em/2);
    z-index: 200;


    transform: translateY(0);
}

:has(input[id=powerknop]:checked) header>span::before {
    animation: nodelicht .2s infinite linear forwards;
    animation-delay: 8s;
}

body:has(input[id=powerknop]:checked):has(form div label:nth-of-type(2) input:checked) header>span::before {
    animation-play-state: paused;
}

@keyframes nodelicht {
    100% {
        background-image: radial-gradient(circle at 40% 70%, white 7%, red 40%);
        box-shadow: inset 0 0 .5em .5em red, 0 0 5em 2em red;
    }
}

/* top stuk */
header div:first-of-type {
    display: block;
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 6;

    background-color: var(--panel-background);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);

    background-image: linear-gradient(to top, gray 10%, var(--panel-background));

}







/* radar scherm */

header div:nth-of-type(2) {
    width: 60%;
    height: 100%;

    position: absolute;
    left: calc(50% - 60%/2);
    top: 5%;

    z-index: -100;

    display: grid;
    align-items: center;
    justify-items: center;


    overflow: hidden;
}

header div:nth-of-type(2) span {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 3em var(--schadow);
    background-color: rgba(0, 0, 0, 0.392);

    background-image:
        conic-gradient(from var(--radar-angle, 0deg),
            transparent,
            var(--radar-neon) 44.8deg,
            transparent 45.2deg),

        repeating-radial-gradient(closest-side circle,
            var(--radar-neon) 0% 1%,
            transparent 1% 30%,
            var(--radar-neon) 30% 31%),

        repeating-linear-gradient(to right,
            transparent 40.5% 50%,
            var(--radar-neon) 50% 50.5%,
            transparent 50.5% 60%),

        repeating-linear-gradient(transparent 40.5% 50%,
            var(--radar-neon) 50% 50.5%,
            transparent 50.5% 60%);

    overflow: hidden;
    cursor: pointer;
    animation: radar 5s infinite linear;
    animation-play-state: paused;
}

@keyframes radar {
    100% {
        --radar-angle: 360deg;
    }
}

@property --radar-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;

}

body:has(input[id=powerknop]:checked) header div:nth-of-type(2) span {
    animation-play-state: running;
    background-color: rgba(0, 0, 0, 0.568);
    box-shadow: inset 0 0 9em rgb(0, 0, 0);
}

/* radar punten */
header div:nth-of-type(2) ul {
    list-style: none;
    position: inherit;

    height: 100%;
    width: 100%;

    opacity: 100%;
    transform: scale(1.2);

    animation: checken 2s 4 backwards, rotate 4s 2 backwards;
    animation-delay: 0s -1s;
    animation-timing-function: linear, steps(2, end);
    animation-play-state: paused;
    display: none;
}

body:has(input[id=powerknop]:checked) header div:nth-of-type(2) ul {
    animation-play-state: running;
    display: block;
}

header div:nth-of-type(2) ul li {
    display: block;
    aspect-ratio: 1;

    background-color: var(--radar-neon);
    border: solid .1px white;

    position: absolute;

    animation: vorming 8s 1 both;
    animation-timing-function: steps(1, end);
    animation-play-state: paused;
}

body:has(input[id=powerknop]:checked) header div:nth-of-type(2) ul li {
    animation-play-state: running;

}

header div:nth-of-type(2) ul li:first-child {
    top: 30%;
    left: 45%;
    position: relative;
}

header div:nth-of-type(2) ul li:nth-child(2) {
    top: 50%;
    left: 70%;
    transform: rotateY(180deg);
}

header div:nth-of-type(2) ul li:nth-child(3) {
    top: 70%;
    left: 30%;
}

header div:nth-of-type(2) ul li::after {
    content: "";
    display: none;
    font-size: 1em;
    width: 3em;
    aspect-ratio: 1;
    background-image: url(https://cdn-icons-png.flaticon.com/512/68/68049.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    position: absolute;
    top: -1em;
    left: -2em;
}

body:has(input[id=shootingknop]:checked) header div:nth-of-type(2) ul li::after {
    width: 2em;
    top: -.5em;
    left: -1.5em;
}

body:has(input[id=powerknop]:checked):has(main form input[value="optie1"]:checked) header div:nth-of-type(2) ul li:first-child::after {
    display: block;
}

body:has(input[id=powerknop]:checked):has(main form input[value="optie2"]:checked) header div:nth-of-type(2) ul li:nth-child(2)::after {
    display: block;
}

body:has(input[id=powerknop]:checked):has(main form input[value="optie3"]:checked) header div:nth-of-type(2) ul li:nth-child(3)::after {
    display: block;
}

body:has(input[id=powerknop]:checked):has(input[id=shootingknop]:checked):has(form input[value="optie1"]:checked) header div:nth-of-type(2) ul li:first-child {
    animation: shooting .5s 1 linear both;
}

body:has(input[id=powerknop]:checked):has(input[id=shootingknop]:checked):has(form input[value="optie2"]:checked) header div:nth-of-type(2) ul li:nth-child(2) {
    animation: shooting .5s 1 linear both;
}

body:has(input[id=powerknop]:checked):has(input[id=shootingknop]:checked):has(form input[value="optie3"]:checked) header div:nth-of-type(2) ul li:nth-child(3) {
    animation: shooting .5s 1 linear backwards;
}


@keyframes shooting {
    0% {
        width: .5em;

        background-color: var(--schadow);
        box-shadow:
            1em 0 0 var(--radar-neon),
            1em .5em 0 var(--radar-neon),

            .5em -.5em 0 var(--radar-neon),
            .5em 0 0 var(--radar-neon),
            .5em .5em 0 var(--radar-neon),
            .5em 1em 0 var(--radar-neon),

            0 -1em 0 var(--radar-neon),
            0em -.5em 0 var(--radar-neon),
            0em .5em 0 var(--radar-neon),
            0em 1em 0 var(--radar-neon),
            0em 1.5em 0 var(--radar-neon),

            -.5em -1em 0 var(--radar-neon),
            -.5em -.5em 0 var(--radar-neon),
            -.5em 0 0 var(--radar-neon),
            -.5em .5em 0 var(--radar-neon),
            -.5em 1em 0 var(--radar-neon),
            -.5em 1.5em 0 var(--radar-neon),

            -1em -1em 0 var(--radar-neon),
            -1em -.5em 0 var(--radar-neon),
            -1em 0 0 var(--radar-neon),
            -1em .5em 0 var(--radar-neon),
            -1em 1em 0 var(--radar-neon),
            -1em 1.5em 0 var(--radar-neon),

            -1.5em -.5em 0 var(--radar-neon),
            -1.5em 0 0 var(--radar-neon),
            -1.5em .5em 0 var(--radar-neon),
            -1.5em 1em 0 var(--radar-neon),

            -2em 0 0 var(--radar-neon),
            -2em .5em 0 var(--radar-neon),

            -2.5em -.5em 0 var(--radar-neon),
            -2.5em 0 0 var(--radar-neon),
            -2.5em .5em 0 var(--radar-neon),
            -2.5em 1em 0 var(--radar-neon),

            -3em -1em 0 var(--radar-neon),
            -3em -.5em 0 var(--radar-neon),
            -3em 0 0 var(--radar-neon),
            -3em .5em 0 var(--radar-neon),
            -3em 1em 0 var(--radar-neon),
            -3em 1.5em 0 var(--radar-neon);
    }

    50% {
        width: .5em;

        background-color: var(--radar-neon);
        box-shadow:

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),


            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),

            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon),
            0em 0em 0 var(--radar-neon);
    }

    100% {
        width: .5em;

        background-color: var(--radar-neon);
        box-shadow:
            1em 0 0 var(--shooting),
            1em 1em 0 var(--shooting),
            1.5em -1.5em 0 var(--shooting),
            1.5em 0 0 var(--shooting),
            1em -1em 0 var(--shooting),

            .5em -.5em 0 var(--shooting),
            .5em 0 0 var(--shooting),
            .5em .5em 0 var(--shooting),
            1.5em 1.5em 0 var(--shooting),

            0 -1.5em 0 var(--shooting),
            0 -1em 0 var(--shooting),
            0em -.5em 0 var(--shooting),
            0em .5em 0 var(--shooting),
            0em 1em 0 var(--shooting),
            0em 1.5em 0 var(--shooting),

            -1.5em -1.5em 0 var(--shooting),
            -.5em -.5em 0 var(--shooting),
            -.5em 0 0 var(--shooting),
            -.5em .5em 0 var(--shooting),

            -1em -1em 0 var(--shooting),
            -1em 0 0 var(--shooting),
            -1em 1em 0 var(--shooting),
            -1.5em 1.5em 0 var(--shooting),

            -1.5em 0 0 var(--shooting);
    }
}


@keyframes checken {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes vorming {
    0% {
        border-radius: 50%;
        border: solid .1px white;
        width: 1em;
    }

    100% {
        border-radius: 0%;
        border: none;
        width: .5em;

        background-color: var(--schadow);
        box-shadow:
            1em 0 0 var(--radar-neon),
            1em .5em 0 var(--radar-neon),

            .5em -.5em 0 var(--radar-neon),
            .5em 0 0 var(--radar-neon),
            .5em .5em 0 var(--radar-neon),
            .5em 1em 0 var(--radar-neon),

            0 -1em 0 var(--radar-neon),
            0em -.5em 0 var(--radar-neon),
            0em .5em 0 var(--radar-neon),
            0em 1em 0 var(--radar-neon),
            0em 1.5em 0 var(--radar-neon),

            -.5em -1em 0 var(--radar-neon),
            -.5em -.5em 0 var(--radar-neon),
            -.5em 0 0 var(--radar-neon),
            -.5em .5em 0 var(--radar-neon),
            -.5em 1em 0 var(--radar-neon),
            -.5em 1.5em 0 var(--radar-neon),

            -1em -1em 0 var(--radar-neon),
            -1em -.5em 0 var(--radar-neon),
            -1em 0 0 var(--radar-neon),
            -1em .5em 0 var(--radar-neon),
            -1em 1em 0 var(--radar-neon),
            -1em 1.5em 0 var(--radar-neon),

            -1.5em -.5em 0 var(--radar-neon),
            -1.5em 0 0 var(--radar-neon),
            -1.5em .5em 0 var(--radar-neon),
            -1.5em 1em 0 var(--radar-neon),

            -2em 0 0 var(--radar-neon),
            -2em .5em 0 var(--radar-neon),

            -2.5em -.5em 0 var(--radar-neon),
            -2.5em 0 0 var(--radar-neon),
            -2.5em .5em 0 var(--radar-neon),
            -2.5em 1em 0 var(--radar-neon),

            -3em -1em 0 var(--radar-neon),
            -3em -.5em 0 var(--radar-neon),
            -3em 0 0 var(--radar-neon),
            -3em .5em 0 var(--radar-neon),
            -3em 1em 0 var(--radar-neon),
            -3em 1.5em 0 var(--radar-neon);
    }
}












/* ************************************** */
/* ************************************** */

/* ********** control panel ************* */

/* ************************************** */
/* ************************************** */


main {
    width: 100%;
    height: 40%;
    background-color: var(--panel-background);

    position: absolute;
    bottom: 0em;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 20% repeat(2, 1fr) 3em;

    background-image: linear-gradient(gray 0% 10%, var(--panel-background) 50%);
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}








/* extra schermen */
/* ************************ */
/* ************************ */
/* ************************ */

main>div:first-of-type {
    display: block;
    width: 100%;
    height: 100%;
    padding: .5em;

    grid-column-start: 2;
    grid-column-end: -2;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: space-around;
}

main>div:first-of-type span {
    display: block;

    width: 40%;
    aspect-ratio: 2/1;

    border-radius: 5em;

    background-color: var(--button-color);

    --radar-color: red;

    background-image:
        repeating-radial-gradient(closest-side circle,
            var(--radar-color) 0% 2%,
            transparent 2% 30%,
            var(--radar-color) 30% 31%),

        repeating-linear-gradient(to right,
            transparent 40.5% 50%,
            var(--radar-color) 50% 50.5%,
            transparent 50.5% 60%),

        repeating-linear-gradient(transparent 40.5% 50%,
            var(--radar-color) 50% 50.5%,
            transparent 50.5% 60%);

    position: relative;
    overflow: hidden;

    border: .1em solid var(--schadow);
    box-shadow: inset 0 0 1em var(--schadow);
}

main>div:first-of-type span:nth-of-type(2) {
    --radar-color: rgb(0, 76, 255);
}

main:has(input[id=powerknop]:checked)>div:first-of-type span {
    border: .1em solid var(--radar-neon);
    box-shadow: inset 0 0 3em var(--schadow), 0 0 2em var(--radar-neon);
    background-color: var(--radar-neon);
}

main>div:first-of-type span:nth-of-type(1)::before {
    content: "";
    display: block;
    width: 100%;
    height: .1em;

    transform: rotate(90);

    position: absolute;

    background-color: var(--radar-color);

    animation: radar-line1 2.5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

@keyframes radar-line1 {
    0% {
        top: 0;
    }

    50% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

main>div:first-of-type span:nth-of-type(2)::before {
    content: "";
    display: block;
    width: .15em;
    height: 100%;

    position: absolute;

    background-color: var(--radar-color);

    animation: radar-line2 3s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

@keyframes radar-line2 {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

main:has(input[id=powerknop]:checked)>div:first-of-type span::before {
    animation-play-state: running;
    opacity: 100%;
}








/* Panel knopen */

main form {
    grid-column-start: 2;
    grid-column-end: -2;

    grid-row-start: 2;
    grid-row-end: 4;

    min-width: 21em;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 10%em;

    place-items: center;
}








/* power knop */
/* ************************ */
/* ************************ */
/* ************************ */

main form div:first-of-type {
    width: 100%;
    max-width: 100%;
    height: 70%;

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    align-self: start;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 1em;

    transform-origin: top;

    position: relative;
}

main form div:first-of-type label:first-of-type {
    display: block;
    width: 100%;
    height: 60%;

    z-index: 500;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    align-self: baseline;

    cursor: pointer;
    border: solid .1em var(--button-shadow-color);
    border-radius: .5em;

    background-color: var(--button-color);
    background-image: url(https://cdn-icons-png.flaticon.com/512/71/71797.png);

    background-repeat: no-repeat;
    background-size: 30% 70%;
    background-position: center;


    transform-origin: top;
    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);
}



main form div:first-of-type:has(input[id=powerknop]:checked) label:first-of-type {
    transform: translateY(.3em);

    background-color: var(--power-active);
    box-shadow: 0 .4em 0 var(--power-active-schadow),
        0 .3em .5em .2em var(--power-active);
    border: none;

}

main form div:first-of-type input {
    opacity: 0;
    position: absolute;
}





/* extra buttons */
/* ************************ */
/* ************************ */
/* ************************ */

main form>div:first-of-type span {
    height: 60%;
    /* max-width: 30%; */
    aspect-ratio: 1;
    display: block;
    background-color: var(--button-color);
    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);

    align-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    background-color: var(--button-color);
    background-image: url(http://cdn.onlinewebfonts.com/svg/img_540040.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

    border-radius: .5em;
}

main form:has(input[id=powerknop]:checked)>div:first-of-type span {
    background-color: var(--active-button-color);
    box-shadow: 0 .5em 0 var(--active-button-shadow-color), 0 .6em .5em .1em var(--active-shadow);
}


/* nodeknop */
main form>div:first-of-type label:nth-of-type(2),
main form>div:first-of-type label:nth-of-type(3),
main form>div:first-of-type label:nth-of-type(4) {
    height: 60%;
    aspect-ratio: 1;
    display: block;
    background-color: var(--button-color);
    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);

    align-self: start;
    grid-row-start: 1;

    border-radius: .5em;
    cursor: pointer;
}

main form div:first-of-type label:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;

    background-image: url(https://static.thenounproject.com/png/575934-200.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    background-color: var(--shooting);
    box-shadow: 0 .5em 0 var(--shooting), 0 .6em .3em var(--shooting);
    transform-origin: top;

}

main form:has(input[id=powerknop]:checked) div:first-of-type label:nth-of-type(2) {
    animation: nodeknop .2s infinite linear forwards;
    animation-delay: 8s;
}

main form:has(input[id=powerknop]:checked):has(label:nth-of-type(2) input:checked)>div:first-of-type label:nth-of-type(2) {
    animation-play-state: paused;

    transform: translateY(.4em);
    box-shadow: 0 .1em 0 var(--shooting), 0 .3em .2em var(--shooting);
    backdrop-filter: brightness(100);
}

@keyframes nodeknop {
    100% {
        /* background-image: radial-gradient( circle at 40% 70% , white 7% , red 40% ); */
        box-shadow: 0 .5em 0 red, 0 0 1em .5em var(--shooting);
    }
}



/* modeknop */
main form div:first-of-type label:nth-of-type(3) {
    grid-column-start: 4;
    grid-column-end: 5;

    background-image: url(https://cdn-icons-png.flaticon.com/512/1077/1077809.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    background-color: var(--active-button-color);
    box-shadow: 0 .5em 0 var(--active-button-shadow-color), 0 .6em .5em .1em var(--active-shadow);
    transform-origin: top;
}

body:has(form div:first-of-type label:nth-of-type(3) input:checked) {
    --panel-background: rgb(94, 94, 94);
    --font-color: rgba(0, 0, 0, 0.445);
}

main form:has(div:first-of-type label:nth-of-type(3) input:checked)>div:first-of-type label:nth-of-type(3) {
    transform: translateY(.4em);
    background-color: var(--button-color);
    box-shadow: 0 .1em 0 var(--button-shadow-color), 0 .3em .5em var(--schadow);
}



/* Voertuig verlichting */
main form div:first-of-type label:nth-of-type(4) {
    grid-column-start: 5;
    grid-column-end: 6;

    background-image: url(https://cdn-icons-png.flaticon.com/512/659/659645.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--active-shadow);
}

main form:has(div:first-of-type label:nth-of-type(4) input:checked)>div:first-of-type label:nth-of-type(4) {
    transform: translateY(.4em);
    backdrop-filter: brightness(100);
    background-color: var(--active-button-color);
    box-shadow:
     0 .1em 0 var(--active-button-shadow-color), 
     0 .3em .5em var(--active-shadow);
}

body:has(form div:first-of-type label:nth-of-type(4) input:checked)::before,
body:has(form div:first-of-type label:nth-of-type(4) input:checked)::after{
    display: block;
}







/* shooting knop */
/* ************************ */
/* ************************ */
/* ************************ */

main form>label {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    min-width: 20%;
    width: 40%;
    height: 90%;

    cursor: pointer;
    border: solid .1em var(--button-shadow-color);
    border-radius: .5em;

    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);

    background-color: var(--button-color);
    background-image: url(https://cdn-icons-png.flaticon.com/512/68/68049.png);
    background-repeat: no-repeat;
    background-size: 60% 70%;
    background-position: center;
    border-radius: .8em;

    position: relative;
}

main form>label input {
    opacity: 0;
}

main form:has(input[id=powerknop]:checked)>label {
    box-shadow: 0 .3em 0 var(--active-button-shadow-color), 0 .4em .5em .1em var(--active-shadow);
}


main form:has(input[id=powerknop]:checked)>label:has(input[id=shootingknop]:checked) {
    transform: translateY(.2em);
    border: solid .1em var(--active-button-shadow-color);
    background-color: var(--active-button-color);
    box-shadow: 0 .3em 0 var(--active-button-shadow-color), 0 .4em .5em .1em var(--active-shadow);
}

main form:has(input[id=powerknop]:checked):has(input[type="radio"]:not(li:first-of-type input):checked)>label {
    box-shadow: 0 .3em 0 var(--active-button-shadow-color), 0 .4em .5em .1em var(--active-shadow);

}







/* select knop */
/* ************************ */
/* ************************ */
/* ************************ */



main form>svg {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    width: fit-content;
    height: 100%;

    transform: translateY(-3em) rotate(5deg);
}

main form>svg path {
    fill: transparent;
}

main form>svg text {
    width: 100%;
    font-family: var(--font-family);
    font-size: 4em;
    fill: black;
    filter: drop-shadow(0 0 .1em var(--schadow));
}


main form ul {
    min-width: 5em;
    max-width: 7em;
    aspect-ratio: 1;
    border-radius: 50%;

    list-style: none;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    position: relative;
    top: -1em;

    background-color: var(--button-color);
    background-image: linear-gradient(45deg, var(--button-shadow-color) 10%, transparent, var(--button-shadow-color) 90%);

    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);

}

main form:has(input[id=powerknop]:checked) ul {
    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--active-button-shadow-color);
}

main form ul li {
    width: 50%;
    height: 50%;

    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start: 1;
    grid-row-end: -1;

    position: relative;
}

main form ul li:first-child {
    transform: translateY(-150%);
}

main form ul li:nth-child(2) {
    transform: translateX(170%) translateY(20%);
}

main form ul li:nth-child(3) {
    transform: translateY(200%);
}

main form ul li:nth-child(4) {
    transform: translateX(-170%) translateY(20%);
}

main form ul li label {
    display: block;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

main form ul li label input[type="radio"] {
    opacity: 0;
}



main form ul::after {
    content: "";
    display: block;
    background-color: var(--button-shadow-color);
    width: .4em;
    height: 40%;
    border-radius: .5em;

    position: absolute;
    transform: rotate(0deg) translatey(-2em) translateX(0);
    transition: .5s;

    box-shadow: 0 0 .1em .05em var(--schadow);
}


main form ul:has(input[value="optie1"]:checked)::after {
    transform: rotate(95deg) translatey(-1.9em) translateX(.1em);
}

main form ul:has(input[value="optie2"]:checked)::after {
    transform: rotate(180deg) translatey(-1.9em) translateX(.1em);
}

main form ul:has(input[value="optie3"]:checked)::after {
    transform: rotate(266deg) translatey(-1.9em) translateX(.1em);
}

main form ul::before {
    content: "";
    display: block;
    width: 150%;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    top: -.8em;
    z-index: -2;

    background-image: repeating-conic-gradient(var(--button-color) 50% 51%, var(--button-shadow-color) 51% 60%);
    box-shadow: 0 .3em 0 var(--button-shadow-color), 0 .5em .5em var(--schadow);
}

main form:has(input[id=powerknop]:checked) ul::before {
    background-image: repeating-conic-gradient(var(--active-button-color) 50% 51%, var(--button-shadow-color) 51% 60%);

    box-shadow: 0 .3em 0 var(--button-shadow-color), 0 .5em .5em var(--active-shadow);

}

main form ul li::after {
    content: "";
    width: 50%;
    height: 50%;

    border-radius: 50%;
    color: var(--schadow);
    font-weight: bold;

    text-align: center;
    color: black;

    position: absolute;
    left: 25%;
    top: 25%;
    z-index: -2;

    cursor: pointer;
    text-shadow: none;
}

main form ul li:first-child::after {
    content: "uit";
    top: 20%;
}

main form ul li:nth-child(2)::after {
    content: "1";
}

main form ul li:nth-child(3)::after {
    content: "2";
}

main form ul li:nth-child(4)::after {
    content: "3";
}

main form:has(input[id=powerknop]:checked) ul li:first-child::after {
    animation: selected .7s infinite linear both;
}

main form:has(input[id=powerknop]:checked) ul:has(input[value="optie1"]:checked) li:nth-child(2)::after {
    animation: selected .7s infinite linear both;
}

main form:has(input[id=powerknop]:checked) ul:has(input[value="optie2"]:checked) li:nth-child(3)::after {
    animation: selected .7s infinite linear both;
}

main form:has(input[id=powerknop]:checked) ul:has(input[value="optie3"]:checked) li:nth-child(4)::after {
    animation: selected .7s infinite linear both;
}

@keyframes selected {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow:
            0 0 .3em var(--active-button-color),
            0 0 .4em var(--active-button-color),
            0 0 .5em var(--active-button-color);
    }

    100% {
        text-shadow: none;
    }
}






/* handle */
/* ************** */
/* ************** */
/* ************** */

main form>div:last-of-type {
    grid-column-start: 1;
    grid-column-end: 2;

    width: 4em;
    height: 7em;
    position: relative;

    perspective: 20em;
    transform-style: preserve-3d;

    display: grid;
    justify-content: center;

    filter: drop-shadow(.2em .2em .2em var(--schadow));
}

main form>div:last-of-type::before {
    content: "Op de aarde";
    font-family: var(--font-family);
    width: 6em;
    height: fit-content;
    text-align: center;

    position: absolute;
    transform: scale(.9);
    top: .5em;
    right: calc(80% + 6em/2);
}

main form>div:last-of-type::after {
    content: "Onder de zee";
    font-family: var(--font-family);
    width: 6em;
    height: fit-content;
    text-align: center;

    position: absolute;
    bottom: 0;
    right: calc(100% + 6em/2);
}

main form>div:last-of-type label {
    position: relative;
    display: block;
    width: 8em;
    height: 100%;

    background-color: var(--button-color);
    background-image: linear-gradient(to right,
            var(--button-color) 18%,
            /* var(--button-shadow-color) 18% 41%, */
            var(--schadow) 18%,
            var(--button-color),
            var(--schadow) 40%,
            var(--button-color) 40% 60%,
            /* var(--button-shadow-color) 59% 83%, */
            var(--schadow) 60%,
            var(--button-color),
            var(--schadow) 82%,
            var(--button-color) 82%);
    box-shadow: 0 .5em 0 var(--button-shadow-color);

    display: grid;
    justify-items: center;

    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateX(20deg);
}

main form>div:last-of-type label input {
    appearance: none;

    position: absolute;
    bottom: 50%;

    display: block;
    width: 6em;
    height: 6em;

    transform-style: preserve-3d;

    transform-origin: bottom;
    transform: rotateX(-150deg);

    transition: 2s;

    background-image:
        repeating-linear-gradient(to right,
            var(--button-shadow-color) 0em,
            white,
            var(--button-color),
            var(--button-shadow-color) 2em,
            var(--schadow) 2em,
            transparent 0 4em);
}

main form>div:last-of-type label input::after {
    content: "";

    position: absolute;
    top: -1em;
    left: -.75em;

    width: 7.5em;
    height: 2em;

    background-image:
        linear-gradient(brown,
            orange,
            saddlebrown);
    border-radius: .25em;
    transform: rotateX(180deg);

    transition: 2s;
}

main form>div:last-of-type label input:checked {
    transform: rotateX(-10deg);
}

main form>div:last-of-type label input:checked::after {
    transform: rotateX(0deg);
}














/* rotate knop */
/* main form div:nth-of-type(3) {
    width: 100%;
    height: 100%;

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    align-items: center;
    justify-items: center;

    transform-origin: top;

    position: relative;
}

main div:nth-of-type(3) label {
    display: block;
    width: 50%;
    aspect-ratio: 1;

    position: absolute;
    top: 0;

    cursor: pointer;
    z-index: 7;

    background-image: linear-gradient(45deg, var(--button-color) 10%, rgb(255, 255, 255) , var(--button-color) 90% );
    border-radius: 50%;

    box-shadow: 0 .5em 0 var(--button-shadow-color), 0 .6em .5em .1em var(--schadow);
}


main div:nth-of-type(3) label::before{
    content: "";
    display: block;
    background-color: rgb(113, 113, 113);
    width: .4em;
    height: 50%;
    border-radius: .5em;

    position:absolute;
    left: calc(50% - .4em/2);
    top: -.5em;

    transform:rotate(0deg);
    transform-origin: bottom;
    transition: 2s;

    box-shadow: .1em 0 .3em var(--schadow);
}

main div:nth-of-type(3):has(input[type=checkbox]:checked) label::before{
    transform:rotate(180deg) scaleY(1.25);
}


main div:nth-of-type(3)::after{
    content: "";
    display: block;
    background-color: gray;
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;

    position:absolute;
    top: -.8em;

    background-image: repeating-conic-gradient(rgb(175, 175, 175) 50% 51%, transparent 51% 60%) ;
}


main div:nth-of-type(3) input[type="checkbox"]{
    opacity: 0;
}
 */


 header , main{
    z-index: 100000;
 }