
/* left side */
section>div>div:nth-of-type(2) {
    transform: rotateY(90deg) translateX(calc(var(--width) / 2 * -1)) translateZ(-30vmin);
    background-image:
        linear-gradient(to left,
            var(--panel-background) 6%,
            transparent 0%),

        linear-gradient(to top,
            var(--panel-background) 20%,
            var(--panel-background-shadow) 0% 23%,
            transparent 0% 93%,
            var(--panel-background-shadow)0% 96%,
            var(--panel-background)0%);
}

section>div>div:nth-of-type(2)::before {
    content: "";
    display: block;
    width: 2%;
    height: 100%;
    transform-style: preserve-3d;

    position: absolute;
    right: 5%;
    z-index: -3;
    /* background-image: linear-gradient(to top,var(--panel-background) 20%, var(--panel-background-shadow) 0% 23%, var(--panel-background-shadow) 0% 95%, transparent 0%); */
    background-image: linear-gradient(to top,
            rgba(146, 146, 146, 0.639),
            var(--panel-background) 3% 20%,
            var(--panel-background-shadow) 0% 96%,
            transparent 0%);
}
