*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

:root {
    --panel-background: rgb(223, 223, 223);
    --panel-background-shadow: rgb(126, 126, 126);

    --button-color: rgb(202, 202, 202);
    --button-shadow-color: rgb(135, 135, 135);
    --schadow: rgba(0, 0, 0, 0.638);
    --button-border:gray;


    --active-button-color: rgb(0, 242, 250);
    --active-button-shadow-color: rgb(0, 168, 174);
    --active-shadow: rgb(0, 247, 255);

    --radar-neon: lime;
    --power-active: rgb(0, 255, 0);
    --power-active-schadow: rgb(0, 174, 0);
    --power-schadow: rgb(0, 255, 0);


    --font-family: 'Racing Sans One', cursive;
    --font-color: rgba(255, 255, 255, 0.445);


    --pixal-size: .5em;
    --shooting: rgba(255, 0, 0, 0.585);

    --boxWidth:2em;
}

body:has(input[id=modeKnop]:checked){
    --panel-background: rgb(94, 94, 94);
    --font-color: rgba(0, 0, 0, 0.445);

    --button-color: rgb(255, 255, 255);
    --button-shadow-color: rgb(177, 177, 177);
    --button-border:rgb(255, 255, 255);

    --active-button-color: rgb(79, 103, 238);
    --active-button-shadow-color: rgb(0, 15, 150);
    --active-shadow: rgb(0, 133, 250);

    --power-active: rgb(51, 219, 0);
    --power-active-schadow: rgb(1, 118, 44);
    --power-schadow: rgb(106, 255, 0);
}

header{
    opacity: 0;
    position: absolute;
}

ul{
    list-style: none;
}

input:not(input[id=handel]){
    opacity: 0;
}

body {
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */

    background-image:
        repeating-linear-gradient(45deg, transparent 0% 10%, var(--font-color) 20% 30%, transparent 40% 50%),
        /* linear-gradient(to bottom,rgba(5, 0, 59, 0.355) 20%, rgba(12, 1, 135, 0.322)), */
        /* url(https://img.myloview.pl/fototapety/depth-of-sea-water-the-bottom-of-the-sea-the-rays-of-the-sun-through-the-water-the-underwater-world-dark-sea-the-background-rocks-and-stones-under-water-sea-sand-3d-illustration-700-249212034.jpg); */
        url(https://images7.alphacoders.com/104/1049004.jpg);
    /* url(https://images.unsplash.com/photo-1576707948881-b485713fbad7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dW5kZXIlMjB0aGUlMjBzZWF8ZW58MHx8MHx8&w=1000&q=80); */
    /* url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2353506-4d20-4fe6-8a3f-47d8c90bda35/d4rludn-1e7f1e7a-403b-401e-aae4-9868c00c03da.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MyMzUzNTA2LTRkMjAtNGZlNi04YTNmLTQ3ZDhjOTBiZGEzNVwvZDRybHVkbi0xZTdmMWU3YS00MDNiLTQwMWUtYWFlNC05ODY4YzAwYzAzZGEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Gs_bcaodT8FaHCn9pFkc4A2VB_UOkzJXG1QZc0POMo0); */

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    position: relative;
}

main:has(input[id=handel]:checked){
    /* background-image: url(https://e0.pxfuel.com/wallpapers/704/375/desktop-wallpaper-iphone-7-plus-nature-background-thumbnail.jpg); */
    background-image: 
    repeating-linear-gradient(45deg, transparent 0% 10%, var(--font-color) 20% 30%, transparent 40% 50%),
    url(https://images.ireland.com/thumbs/Images/amazing-landscapes/5079b776bd3645da95169ccd51f4278d/collagebackground-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

main::before{
    content: "";
    display: none;
    width:100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-image:
    conic-gradient(
    at 50% 100% ,
        transparent,
        rgba(255, 255, 88, 0.596) 10% 10%,
        transparent 12% 88%,
        rgba(255, 255, 88, 0.596) 92% 92%,
        transparent
        );
}

main:has(input[id=powerKnop]:checked):has(input[id=lichtKnop]:checked)::before{
    display: block;
}



section {
    width: 100vw;
    height: 100vh;
    list-style: none;
    background-color: rgba(3, 4, 5, 0.159);

    perspective: 30em;
    transform-style: preserve-3d;

    display: grid;
    place-content: center;
    position: fixed;
    overflow: hidden;
}


/* box kern */
section>div {
    --width: 60vmin;

    display: block;
    width: var(--width);
    aspect-ratio: 1/1;
    transform-style: preserve-3d;

    /*   background-color: rgba(255, 0, 0, 0.585); */

    background-color: transparent;

    transform-origin: 50% 0%;
    perspective: 30em;
    transform-style: preserve-3d;


    display: grid;
    place-items: center;
}

section>div > div {
    width: var(--width);
    height: inherit;
    border: none;

    position: absolute;
    inset: 0;

    transform-style: preserve-3d;
    box-shadow: inset 0 0 1em black;
}


@media screen and (min-width: 992px){
    section{
        perspective: 40em;
    }

    section>div{
        transform: rotateX(356deg) translateY(-63px);
    }
}





























