*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

:root {
    --panel-background: rgb(223, 223, 223);
    --panel-background-shadow: rgb(126, 126, 126);

    --button-color: rgb(202, 202, 202);
    --button-shadow-color: rgb(135, 135, 135);
    --schadow: rgba(0, 0, 0, 0.638);
    --button-border: rgb(255, 255, 255);


    --active-button-color: rgb(0, 242, 250);
    --active-button-shadow-color: rgb(0, 168, 174);
    --active-shadow: rgb(0, 247, 255);

    --radar-neon: lime;
    --power-active: rgb(0, 255, 0);
    --power-active-schadow: rgb(0, 174, 0);
    --power-schadow: rgb(0, 255, 0);


    --font-family: 'Racing Sans One', cursive;
    --font-color: rgba(255, 255, 255, 0.445);


    --pixal-size: .5em;
    --shooting: rgba(255, 0, 0, 0.585);

    --boxWidth: 2em;
}

body:has(input[id=modeKnop]:checked) {
    --panel-background: rgb(94, 94, 94);
    --font-color: rgba(0, 0, 0, 0.445);

    --button-color: rgb(255, 255, 255);
    --button-shadow-color: rgb(177, 177, 177);

    --active-button-color: rgb(79, 103, 238);
    --active-button-shadow-color: rgb(0, 15, 150);
    --active-shadow: rgb(0, 133, 250);

    --power-active: rgb(51, 219, 0);
    --power-active-schadow: rgb(1, 118, 44);
    --power-schadow: rgb(106, 255, 0);
}

header {
    opacity: 0;
    position: absolute;
}

ul {
    list-style: none;
}

input:not(input[id=handel]) {
    opacity: 0;
}


body {
    width: 250vw;
    height: 300dvw;
    height: 350vw;

    background-color: black;
    background-image:
        url(../images/de-zee.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}


/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
body::-webkit-scrollbar{
    display: none;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

body:has(input[id=handel]:checked) {
    background-color: white;
    background-image:
        url(../images/de-aarde.png);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: top left;
}

main::before {
    content: "";
    display: none;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-image:
        conic-gradient(at 50% 100%,
            transparent,
            rgba(255, 255, 88, 0.596) 10% 10%,
            transparent 12% 88%,
            rgba(255, 255, 88, 0.596) 92% 92%,
            transparent);
}

main:has(input[id=powerKnop]:checked):has(input[id=lichtKnop]:checked)::before {
    display: block;
}



section {
    width: 100vw;
    height: 100vh;
    list-style: none;
    background-color: rgba(3, 4, 5, 0.159);

    perspective: 150vw;
    transform-style: preserve-3d;

    display: grid;
    place-content: center;
    position: fixed;
    overflow: hidden;
}


/* box kern */
section>div {
    --width: 60vmin;

    display: block;
    width: var(--width);
    aspect-ratio: 1/1;
    transform-style: preserve-3d;

    /*   background-color: rgba(255, 0, 0, 0.585); */

    background-color: transparent;

    transform-origin: 50% 0%;
    perspective: 30em;
    transform-style: preserve-3d;


    display: grid;
    place-items: center;
}

section>div>div {
    width: var(--width);
    height: inherit;
    border: none;

    position: absolute;
    inset: 0;

    transform-style: preserve-3d;
    box-shadow: inset 0 0 1em black;
}







/* bubbels */
body>div {
    width: inherit;
    height: inherit;

    /* background-color: red; */
    position: absolute;
    top: 0;
    z-index: -2;

    perspective: 30em;
    transform-style: preserve-3d;
}

body:has(input[id=handel]:checked)>div div:first-of-type{
    display: none;
}

body>div div:first-of-type{
    width: 100%;
    height: 130vw;

    position: fixed;
    top: 0;
}

body>div div:first-of-type span{
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-image: radial-gradient(circle at 60% 70% ,white 1% ,transparent 25%);
    box-shadow: inset 0 0 2em white,
     0 0 .5em white;

    position: absolute;
    offset-rotate: 250deg;
}

body>div div:first-of-type span:first-of-type,
body>div div:first-of-type span:nth-of-type(4),
body>div div:first-of-type span:nth-of-type(5),
body>div div:first-of-type span:nth-of-type(8){
    top: 40%;

    offset-path: path('M527.85,39.7c-7.58-15.37-20.45-35.25-40-38.71-39.46-6.99-57.53,62.61-116.77,73.55-45.12,8.33-55.82-28.02-123.72-28.06-43.84-.03-54.27,15.12-94.99,19.68-35.23,3.94-86.12-.83-152.11-41.61');

    animation: path1 10s -1s infinite both linear;
}

body>div div:first-of-type span:nth-of-type(4){
    top: 55%;

    left: 10% ;
    animation: path1 12s 1.5s infinite both linear;
}

@keyframes path1{
    0%{
        offset-distance: 0%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 100%;
        width: 8em;
        opacity: 0;
    }
}

body>div div:first-of-type span:nth-of-type(7),
body>div div:first-of-type span:nth-of-type(2){
    width: 5em;
    aspect-ratio: 1/1;

    top: 20%;
    left: 4em;

    offset-path: path('M618.69,231.62c-39.53-95.72-73.16-102.9-99.84-93.42-31.66,11.25-72.56-12.59-94.07-34.56-18.38-18.78-19.46-27.76-35.68-32.58-14.79-4.39-37.44-2.48-49.61,13.93-7.41,9.98-11.86,26.59-4.75,37.1,12.79,18.89,58.99,12.24,66.69-5.48,8.38-19.3-24.63-61.56-53.79-60.71-37.51,1.1-39.7,72.67-83.8,82.99-38.57,9.03-65.08-39.13-145.63-87.44C71.31,23.32,28.39,8.51,.14,.48');

    animation: path2 8s -3.5s infinite both linear;
}


@keyframes path2{
    0%{
        offset-distance: 0%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 100%;
        width: 5em;
        opacity: 0;
    }
}

body>div div:first-of-type span:nth-of-type(6),
body>div div:first-of-type span:nth-of-type(3){
    width: 5em;
    aspect-ratio: 1/1;

    top: auto;
    left: 4em;
    bottom: 30%;

    offset-path: path('M618.69,.19c-39.53,95.72-73.16,102.9-99.84,93.42-31.66-11.25-72.56,12.59-94.07,34.56-18.38,18.78-19.46,27.76-35.68,32.58-14.79,4.39-37.44,2.48-49.61-13.93-7.41-9.98-11.86-26.59-4.75-37.1,12.79-18.89,58.99-12.24,66.69,5.48,8.38,19.3-24.63,61.56-53.79,60.71-37.51-1.1-39.7-72.67-83.8-82.99-38.57-9.03-65.08,39.13-145.63,87.44C71.31,208.49,28.39,223.31,.14,231.33');

    animation: path2 9s -2.5s infinite both linear;
}

body>div div:first-of-type span:nth-of-type(8),
body>div div:first-of-type span:nth-of-type(5){
    left: 70%;

    animation: path3 12s 1s infinite both linear;
}

body>div div:first-of-type span:nth-of-type(8){
    animation-delay: 2s;
    animation-duration: 5s;
}

@keyframes path3{
    0%{
        offset-distance: 100%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 0%;
        width: 8em;
        opacity: 0;
    }
}

body>div div:first-of-type span:nth-of-type(6){
    top: 10%;
    left: 70%;

    animation: path3 12s -1s infinite both linear;
}

body>div div:first-of-type span:nth-of-type(7){
    bottom: 45%;
    top: auto;
    left: 65%;

    animation: path4 12s -3s infinite both linear;
}

@keyframes path4{
    0%{
        offset-distance: 100%;
        width: 1em;
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        offset-distance: 0%;
        width: 5em;
        opacity: 0;
    }
}

body>div div:nth-of-type(2){
    width: 100%;
    height: 20%;

    position: absolute;
    top: 220vw;
}

body:has(input[id=handel]:checked)>div div:nth-of-type(2){
    top: 0;
}
body:has(input[id=handel]:checked)>div div:nth-of-type(2) span{
    background-image: url(https://tpp8a.files.wordpress.com/2014/04/bird-5.gif);
}


body>div div:nth-of-type(2) span{
    --vis-width:4em;
    --delay:1s;
    width: var(--vis-width);
    aspect-ratio: 1/1;

    display: block;

    position: absolute;
    background-image: url(https://www.animaties.com/data/media/194/vis-bewegende-animatie-0419.gif);
    background-size: cover;
    background-repeat: no-repeat;

    animation: swemmenvis infinite both linear;
}

body>div div:nth-of-type(2) span:first-of-type{
    animation-duration: 20s;
    top: calc(50% - var(--vis-width)/2);
}

body>div div:nth-of-type(2) span:nth-of-type(2){
    animation-duration: 25s;
    animation-delay: calc(-1 * var(--delay));
    top: calc(60% - var(--vis-width));
}

body>div div:nth-of-type(2) span:nth-of-type(3){
    animation-duration: 30s;
    animation-delay: calc(1.5 * var(--delay));
    top: calc(30% - var(--vis-width)/2);
}


@keyframes swemmenvis{
    0%{
        transform: scale(0) translateX(0) translateZ(0);
    }
    100%{
        transform: scale(1.5) translateX(250vw) translateZ(30vw);
    }
}

body>div div:nth-of-type(2) span:not(:nth-of-type(-n+3)){
    animation: terugswemmenvis infinite both linear;
}

body>div div:nth-of-type(2) span:nth-of-type(4){
    animation-duration: 25s;
    top: calc(70% - var(--vis-width)/2);
}

body>div div:nth-of-type(2) span:nth-of-type(5){
    animation-duration: 30s;
    animation-delay: calc(-2 * var(--delay));
    top: calc(40% - var(--vis-width));
}

body>div div:nth-of-type(2) span:nth-of-type(6){
    animation-duration: 20s;
    animation-delay: calc(1.3 * var(--delay));
    top: calc(10% - var(--vis-width)/2);
}

@keyframes terugswemmenvis{
    0%{
        right: -10vw;
        transform: rotateY(180deg) scale(0) translateX(0vw) translateZ(0);
    }
    100%{
        right: 100vw;
        transform: rotateY(180deg) scale(1.5) translateX(250vw) translateZ(30vw);
    }
}




/* ****************** */
/* ****************** */
/* ****************** */



@media screen and (min-width: 550px) {
    /* body{
        max-height: 155vh;
    } */

    section{
        perspective: 200vw;
    }
}

@media screen and (min-width: 650px){
    section{
        perspective: 250vw;
    }
}

@media screen and (min-width: 720px) {
    /* body{
        max-height: 247vh;
    } */

    section {
        perspective: 280vw;
    }

    section>div {
        transform: rotateX(356deg) translateY(-63px);
    }
}

@media screen and (min-width: 880px){
    /* body{
        max-height: 300vh;
    } */

    section{
        perspective: 280em;
    }
}
/* 
@media screen and (min-width: 1300px){
    body{
        max-height: 230vh;
    }
} */